Repository pcriv/mancala: changes, and which lefthook commands are due for each by the changed paths.
All: go, yaml

go:
  run: make lint.go
  stage_fixed: true

yaml:
  run: make lint.yml
  stage_fixed: true

Add ctx cancelation handling to in memory store
  internal/store/inmemory/game_repo.go
  internal/web/api.go
Due: go

Fix CI
  .github/workflows/ci.yml
Due: yaml

Go mod tidy
  go.mod
Due: none

Run linter
  cmd/rest-server/internal/web/games_handler.go
  cmd/rest-server/internal/web/plays_handler.go
Due: go

Update README
  README.md
Due: none

Small fixes
  Makefile
  internal/mancala/board_side.go
  internal/mancala/game.go
Due: go

Fix CI
  Makefile
Due: none

Refactor and cleanup
  .claude/settings.local.json
  .gitignore
  .golangci.yml
  Makefile
  buf.gen.yaml
  cmd/connect-server/handler.go
  cmd/connectrpc/handler.go
  cmd/connectrpc/main.go
  cmd/grpc-server/main.go
  cmd/grpc-server/service.go
  cmd/restapi/main.go
  cmd/restapi/openapimap/mapping.go
  cmd/restapi/server/api.go
  cmd/restapi/server/docs_handler.go
  cmd/restapi/server/games_handler.go
  cmd/restapi/server/games_handler_test.go
  cmd/restapi/server/plays_handler.go
  cmd/restapi/server/plays_handler_test.go
  go.mod
  go.sum
  internal/mancala/board_side.go
  internal/mancala/game.go
  internal/mancala/game_test.go
  internal/mancala/player.go
  internal/protomap/mapping.go
  internal/store/redis/game_store.go
  proto/mancala.pb.go
  proto/mancala_grpc.pb.go
  proto/protoconnect/mancala.connect.go
Due: go, yaml

Update go version and ci config
  .github/workflows/ci.yml
  go.mod
Due: yaml

Migrate UI from raw Tailwind to DaisyUI with forest theme
  cmd/web/templates/board.html
  cmd/web/templates/error.html
  cmd/web/templates/game.html
  cmd/web/templates/home.html
  cmd/web/templates/layout.html
Due: none

Add web frontend handlers and server entrypoint
  cmd/web/handler.go
  cmd/web/handler_board.go
  cmd/web/handler_games.go
  cmd/web/handler_home.go
  cmd/web/handler_plays.go
  cmd/web/main.go
Due: go

Add web frontend build target and fix ConnectRPC server lifecycle
  .claude/settings.local.json
  .env.example
  Makefile
  cmd/connectrpc/main.go
  internal/mancala/game.go
Due: go

Add .env to gitignore and remove from tracking
  .env
  .gitignore
Due: none

Fix tests for 4 stones per pit and add .env.test
  .env.test
  .gitignore
  internal/mancala/game_test.go
Due: go

Limit Dependabot to direct Go dependencies only
  .github/dependabot.yml
Due: yaml

Add Docker Compose local dev setup with Air live reloading
  .air.connectrpc.toml
  .air.web.toml
  Dockerfile
  docker-compose.yml
Due: yaml

Fix Air command in docker-compose to pass args only
  docker-compose.yml
Due: yaml

chore: Update some deps
  go.mod
  go.sum
  internal/openapi/server.gen.go
Due: go

Path conditions:
  go: any of: *.go, but not: vendor/
  yaml: any of: *.{yaml,yml}
